name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código
      uses: actions/checkout@v3

    - name: Configurar Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Instalar dependencias
      run: npm install

    - name: Ejecutar pruebas
      run: npm test

    - name: Generar reporte
      run: |
        echo "===== REPORTE DEL PIPELINE =====" > reporte.txt
        echo "Fecha: $(date)" >> reporte.txt
        echo "Estado: Ejecución Correcta" >> reporte.txt

    - name: Guardar reporte como artefacto
      uses: actions/upload-artifact@v3
      with:
        name: reporte-ci
        path: reporte.txt
